@inject NavigationManager NavMgr
@page "/home"

<AuthWrapper>
	<Authorized>
		<h3>Home</h3>
		<h5>Welcome @AuthState.Value.User.firstName</h5>
	</Authorized>
	<NotAuthorized>
		<MudText Typo=Typo.body1>
			You are not logged in!
		</MudText>
		<MudButton OnClick=@(() => NavMgr.NavigateTo("/")) Variant=Variant.Filled Size=Size.Large Color=Color.Primary>
			Go Home
		</MudButton>
	</NotAuthorized>
</AuthWrapper>
